@font-face {
    font-family: MainFont;
    src: url("fonts/PatrickHand-Regular.ttf");
}

/* twinkle animation for sky */
@keyframes twinkle {
    from { opacity: 0.5; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1.2); }
}

/* the animations named like o-l represent 0% opacity to 100%  */
@keyframes o-l {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes l-o {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* o-f is 0% opacity to 100% but with background fade and blur etc. */
@keyframes o-f {
    0% { 
        background-color: rgba(0, 0, 0, 0.7);
    }
    100% { 
        opacity: 1;
        backdrop-filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes f-o {
    0% { opacity: 0.3; }
    100% { opacity: 0; }
}

@keyframes f-l {
    0% { 
        opacity: 1;
        backdrop-filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% { 
        opacity: 1; 
        backdrop-filter: blur(0px);
        background-color: rgba(255, 255, 255, 1);
    }
}

@keyframes l-f {
    0% { opacity: 1; }
    100% { opacity: 0.3; }
}

/* these animations are for the question box that hides and shows itself */
@keyframes optionShow {
    0% { opacity: 0; }
    100% { opacity: 1; top: 50%; transform: translate(0, -50%); }
}

@keyframes optionHide {
    0% { opacity: 1; top: 50%; transform: translate(0, -50%); }
    100% { opacity: 0; top: 100%; }
}


/* below are the animation classes so that they can be applyied to document elements by js */
.animation-o-l {
    opacity: 1;
    backdrop-filter: blur(10.6px);
    animation: o-l 1s ease-out forwards;
}

.animation-l-o {
    opacity: 0;
    animation: l-o 1s ease-out forwards;
}

.animation-o-f {
    opacity: 1;
    animation: o-f 0.2s ease-out forwards;
}

.animation-f-o {
    opacity: 0;
    animation: f-o 1s ease-in forwards;
}

.animation-f-l {
    opacity: 1;
    animation: f-l 0.2s ease-out forwards;
}

.animation-l-f {
    opacity: 0.3;
    animation: l-f 0.2s ease-out forwards;
}

.animation-optionShow {
    animation: optionShow 1s ease-out forwards;
}

.animation-optionHide {
    animation: optionHide 1s ease-in forwards;
}